<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite">
    <listeners>
        <listener class-name="com.epam.utility.ListenerUtil"/>
        <listener class-name="com.epam.utility.CustomReportGenerator"/>
    </listeners>
    <test name="Shopping Happy Path using Chrome" enabled="false">
        <parameter name="browser" value="chrome"/>
        <parameter name="driverPath" value="src/test/resources/webdrivers/chromedriver.exe"/>
        <classes>
            <class name="com.epam.runner.SeleniumRunner"/>
        </classes>
    </test>
    <test name="Shopping Happy Path using Firefox" enabled="false">
        <parameter name="browser" value="firefox"/>
        <parameter name="driverPath" value="src/test/resources/webdrivers/geckodriver.exe"/>
        <classes>
            <class name="com.epam.runner.SeleniumRunner"/>
        </classes>
    </test>
    <test name="RestAssured Test" enabled="true">
        <classes>
            <class name="com.epam.runner.RestTestRunner"/>
        </classes>
    </test>
</suite>