<?xml version = "1.0" encoding = "UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="TestSuite">
    <listeners>
        <listener class-name="com.epam.utility.ListenerUtil"/>
        <listener class-name="com.epam.utility.CustomReportGenerator"/>
    </listeners>
    <test name="Shopping Happy Path using Chrome">
        <parameter name="browser" value="chrome"/>
        <classes>
            <class name="com.epam.runner.SeleniumRunner"/>
        </classes>
    </test>
</suite>